#contenido{
    background-color: #d0d0d0;
    width: 95%;
    margin: 0 auto;
    border: 2px solid #acacac;
}
#titulo{
    color: #9a1170;
   
}
.img_adaptable{
    width: 100%;
	height: auto;}


ul{
    list-style-type: none;/*Le quita la viñeta a la lista*/
    margin: 0;
    padding: 0;
    background-color: #f70000;
    overflow: hidden;/*cuando se desborde lo oculte*/
}
ul2{
    list-style-type: none;/*Le quita la viñeta a la lista*/
    margin: 0;
    padding: 0;
    background-color: #312e2e;
    overflow: hidden;/*cuando se desborde lo oculte*/
}
li{
    float:left
}
li2{
    float:none/*elementos del menu desde la izquierda*/
}
li2 a{
    display: block;/*Elemento se comporte como un bloque*/
    color: #ffffff;
    text-decoration: none;/*quitar linea del enlace*/
    padding: 10px;/*aplica un Relleno al elemento*/
    border-right: 1px solid #bbb;/*Borde a la derecha del elemento*/
    text-align: center;/*Alinear texto al centro*/
}
li2 a:hover{
    background-color:#890000;
}
li a{
    display: block;/*Elemento se comporte como un bloque*/
    color: white;
    text-decoration: none;/*quitar linea del enlace*/
    padding: 80px;/*aplica un Relleno al elemento*/
    border-right: 1px solid #bbb;/*Borde a la derecha del elemento*/
    text-align: center;/*Alinear texto al centro*/
}
li a:hover{
    background-color: #6c6b6b;
}
li a:onclick{
	background-color: aqua;
}
.activo{
    background-color: #00a2de;
}
#info{
    min-height: 400px;
    background-color: #f4f4f4;
    padding: 5px;
}

#pie{
  min-height: 100px;
    background-color: #d8d8d8;
    border: 1px solid #ffc400;
    width:100%;
}
#pie h4{
	text-align: center;
}
.bloque_izq{
    min-height: 400px;
    background-color: #d8d8d8;
    border: 1px solid #8b8b8b;
    float: left;
    width: 60%;
}
.bloque_der{
    min-height: 400px;
    background-color: #adadad;
    border: 1px solid #8b8b8b;
    float: right;
    width: 39%;
}
#bloques{
    padding: 5px;
    min-height: 400px;
}
#bloquepie1{
float:left;
}
h4,h2,h3,h5,h6,h7{ 
  color:#910606;  
    text-align: center;   
}
h7{  
  color:darkred;  
    text-align: center;   
}
p{
    font-style:normal;
    text-decoration-style: dashed;
    color: #0a0a53;
    margin-left: 5px;
}  
p1{
  font-style:normal;
    text-decoration-style: dashed;
    color: #001239;
    margin-left: 15px;  
    
}
.imgss {
    width:100%;
}

.imgs{
    border-radius: 50px;   
	
}
.imgs:hover{
    filter: blur(5px); 
	
}
* {box-sizing: border-box;}

.abrir {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position:fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
    border-radius: 5px;
      
}

        .titulochat{
             width: 280px;
                 background-color: #f1f1f1;
            height: 75px;
            color: #535353;
            font-family:serif;
            border-radius: 20px;
        }
       
.chat-abierto {
  display: none;
  position:fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
    border-radius: 5px;
}
.abrir:active{

}

/* estilo del formulario */
.conteformu {
  max-width: 300px;
  padding: 10px;
  background-color: white;
    
}

/* Full-width textarea */
.conteformu textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.conteformu textarea:focus {
  background-color: #ddd;
  outline: none;
}


.cancelar {  /*estilos del botón enviar*/
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
    border-radius: 5px;
}

.conteformu .cancelar {  /*pone fondo rojo al boton cancelar*/
  background-color: red;
}

.conteformu .btn:hover, .abrir:hover {  /*añadir hover al botón de abrir, lo hace opaco*/
  opacity: 1;
}
.registro{
    padding: 50px;
    width: 95%;
    max-width: 500px;
    background: white;
    border: 2px solid #717070;
   
}
.titulo{
    color: black;
    background: #dddddd;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}
.registroentradas{
   align-self: center;
    padding: 10 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input{
    width: 48%;
}
.inputw{
    width: 100%;
}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: solid darkgray;  
}
.enviar{
    background: crimson;
    color: bisque;
    margin: auto;
    padding: 10px 40px;
}
.enviar:active{
    transform: scale(0.8);
}
.link{
    width: 100%;
    margin: 7px;
    font-size: 14px;
    text-align: center;
}
* {box-sizing: border-box;}

#introQuiz{
	color: crimson;
	font-size: 20px;
	
}     
.btnHS{
	 background-color: #e87373;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
    border-radius: 5px;
}
#formu-quiz{
	
}
    
    
